language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t lokesh40/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=truelokesh40/react-test npm test

after_success:
  - docker build -t lokesh40/multi-client ./client
  - docker build -t lokesh40/multi-nginx ./nginx
  - docker build -t lokesh40/multi-server ./server
  - docker build -t lokesh40/multi-worker ./worker

#login to the docker CLI

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
#take those images and push to the Docker hub

  - docker push lokesh40/multi-client
  - docker push lokesh40/multi-nginx
  - docker push lokesh40/multi-server
  - docker push lokesh40/multi-worker
